.sign-in-container{
  display:flex;
  height:100vh;
}
.sign-in-left{
  flex:1;
  height:100%;
  background:url('../../assets/leftSide.png'),linear-gradient(to bottom right,#00cdfe,#027ff7);
  border-radius:0 5% 5% 0;
}
.sign-in-right{
  flex:1;
  height:100%;
}